<div class="container-fluid">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="photo photo-left pair">
		        <img src="images/NoBoundariesWeb-1.jpg" />
		        <div></div>
		        <div></div>
		    </div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="photo photo-center pair">
		        <img src="images/NoBoundariesWeb-4.jpg" />
		        <div></div>
		        <div></div>
		    </div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="photo photo-center pair">
		        <img src="images/NoBoundariesWeb-6.jpg" />
		        <div></div>
		        <div></div>
		    </div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="photo photo-right pair">
		        <img src="images/NoBoundariesWeb-7.jpg" />
		        <div></div>
		        <div></div>
		    </div>
		</div>
	</div>
	<div class="row center-row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="photo photo-left center-row-photo pair">
		        <img src="images/NoBoundariesWeb-9.jpg" />
		        <div></div>
		        <div></div>
		    </div>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="photo photo-right center-row-photo pair">
		        <img src="images/NoBoundariesWeb-12.jpg" />
		        <div></div>
		        <div></div>
		    </div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="photo photo-left pair">
		        <img src="images/NoBoundariesWeb-13.jpg" />
		        <div></div>
		        <div></div>
		    </div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="photo photo-center pair">
		        <img src="images/NoBoundariesWeb-16.jpg" />
		        <div></div>
		        <div></div>
		    </div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="photo photo-center pair">
		        <img src="images/NoBoundariesWeb-19.jpg" />
		        <div></div>
		        <div></div>
		    </div>
		</div>
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<div class="photo photo-right pair">
		        <img src="images/NoBoundariesWeb-21.jpg" />
		        <div></div>
		        <div></div>
		    </div>
		</div>
	</div>
</div>