<div class="container-fluid main-container">
    <div class="row text-center">
        <div class="box width2x-box">
            <div id="content">
                <a class="btn btn-primary" href="#/create/sessions"><span class="glyphicon glyphicon-plus"></span> New Session</a>
                <br>
                <table class="table table-striped">
                    <thead>
                        <th class="text-center">Event</th>
                        <th class="text-center">Date</th>
                        <th class="text-center">Host</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="session in sessions">
                            <td><a ng-href="/#/sessions/{{session._id}}"> {{session.title}} </a> <small> {{session.sessionType}} </small></td>
                            <td>{{session.to | date:'MM-dd HH:mm a'}} </td>
                            <td>{{session.offeredBy}} </td>
                            <td>
                                <div class="button-group">
                                    <a ng-show="role == 'admin'" ng-href="/#/sessions/{{session._id}}/edit" class="btn btn-default"> <i class="fa fa-pencil"></i> </a>
                                    <a ng-show="role == 'admin'" ng-href="/#/sessions/{{session._id}}/delete" class="btn btn-danger"> <i class="fa fa-trash-o"></i> </a>
                                    <a ng-show="(role == 'user')||(role == 'public')" ng-click="register(session._id)" class="btn btn-default"> <i class="fa fa-sign-in"></i> </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>  
            </div>
        </div>
    </div>
</div>
